@media (max-width:670px) {
    header {
        padding-left: 100px;
    }
    .title {
        font-size: 20px;
    }
    .linkzone {
        align-items: stretch;
        gap: 8px;
    }
    .btn {
        height: 30px;
        width: 100%;
    }
}