@media (max-width:670px) {
    .title {
        font-size: 20px;
        color: white;
    }
    .linkzone {
        align-items: center;
        gap: 8px;
    }
    .btn {
        height: 30px;
        width: 100%;
        text-align: center;
    }
}