* {
  box-sizing: border-box;
}
.clear {
  clear: both;
}
header {
    background-color: rgb(138, 233, 236);
    line-height: 100px;
    text-align: center;
    height: 100px;
    padding-bottom: 50px;
}
header h1 {
  font-family: 'Courier New', Courier, monospace;
}
.title {
  color: #0a0405;
  margin-bottom: 0%;
}
.main {
    margin: 0 auto;
    height:896px;
    width: 100%;
    background-image: url(myphoto.jpg);
    background-size: cover;
    color: rgb(244, 245, 246);
}
.main-title {
  border-top: 2px solid rgb(244, 245, 246);
}
.linkzone {
  margin-top: 12px;
  /*下記の指定で小要素を横並びにする*/
  display: flex;
  /*下記の指定でフレックスの指定を縦並びにできる*/
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.btn {
  /*下記はインラインブロックとフレックスボックスの要素を併せ持った指定*/
  display: inline-flex;
  opacity: 0.7;
  border-radius: 5px;
  padding:6px 10px;
  width: max-content;
  text-decoration: none;
}
.google {
  background-color: green;
  color: rgb(244, 245, 246);
}
.netflix {
  color:red;
  background-color:black;
}
.btn:hover {
  opacity: 1.0;
  text-decoration: none;
}
footer {
  background-color: black;
  height: 100px;
  width: 100%;
  
}
footer h2 {
  line-height: 100px;
  text-align: center;
  color: rgb(244, 245, 246);
  margin-top:0;
}
