header {
    background-color: rgb(138, 233, 236);
    line-height: 100px;
    text-align: center;
    height: 100px;
    padding-bottom: 50px;
}
.title {
  color: #0a0405;
}
.main {
    margin: 0 auto;
    background-image: url(myphoto.jpg);
    height: 896px;
    color: rgb(244, 245, 246);
}